# Assignment 3

### Write a function to count the number 4 in a given list.

In [5]:
def L_C4(list) :
    count = 0 
    for i in list:
        if i == 4 :
            count = 1+count 
    return count

print(L_C4([4,5,2]))
print(L_C4([4,5,2,4,2,4]))

1
3

### write a  function to check whether a number is divisible by another number.

In [11]:
def multiple(m, n):
    if m % n == 0:
        return True 
    else :
        return False

print(multiple(20, 5))
print(multiple(7, 2))

True
False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [28]:

def max_min(nums):
    min_value = max_value = nums[0]

    for num in nums:
        if num < min_value:
            min_value = num


        elif num > max_value:
            max_value = num

    return max_value , min_value


print(max_min([1, 3, 5, 9, 14, 15, 20, 30, 100, -9, 0]))

(100, -9)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [34]:
def tow_list(x,y):
    result = False
    for i in x :
        for j in y :
            if i ==j :
                result = True
                return result


print(tow_list([1,2,3,4,5],[5,6,7,8]))
print(tow_list([1,2,3,4,5],[6,7,8]))

True
None

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [36]:
def fac(x):
    if x == 0:
        return 1
    else:
        return x*fac(x-1)



print(fac(int(input())))

4
24

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [37]:

x =int(input())
def ran(x):
    if x in range(3,12):
        return True
    else:
        return False

print(ran(x))

6
True

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [39]:
n = int(input("input the num : "))

for i in range(1,11):
    
    print(n,"x", i ,"=", n*i)

input the num : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [46]:
def lesser_of_two_evens(a,b):
     if (a%2==0 and b%2==0):
         if (a>b):
             return b
         else:
             return a
     else:
         if (a>b):
             return a
         else:
             return b

lesser_of_two_evens(6,4)

4

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [44]:
def animal_crackers(string):
    s1, s2 = string.split(" ")
    print(s1[0].upper() == s2[0].upper())

print(animal_crackers("levelheaded lama"))
print(animal_crackers("levelheaded ama"))

True
None
False
None

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [50]:
def makes_twenty(n1,n2):
    if (n1==20 or n2==20 or (n1+n2)==20):
        return True
    else:
        return False
print(makes_twenty(20,10))
print(makes_twenty(12,8))
print(makes_twenty(2,3))

True
True
False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [52]:
def almost_there(n):
    return 90 <= n <= 110 or 190 <= n <= 210
print(almost_there(90))

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [57]:
def blackjack(a,b,c):  
    total = a+b+c
    if total <= 21:     
        return total
    elif 11 in [a,b,c] and total > 21:   
        new_total = total-10     
        if new_total > 21:    
            return 'Bust' 
        else:         
            return new_total   
    else: 
        return 'Bust'
    
print(blackjack(5,6,7))
print(blackjack(9,9,9))
print(blackjack(9,9,11))

18
Bust
19